<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="herokuapp Suite" thread-count="3">
	<test name="Chrome Test">
		<parameter name="browserName" value="Chrome"></parameter>
		<classes>
			<class name="tests.DropDownTests" />
			<class name="tests.FormAuthenticationTests" />
			<class name="tests.HoverTests" />
		</classes>
	</test> <!-- Test -->
	<test name="FireFox Test">
		<parameter name="browserName" value="Firefox"></parameter>
		<classes>
			<class name="tests.DropDownTests" />
			<class name="tests.FormAuthenticationTests" />
			<class name="tests.HoverTests" />
		</classes>
	</test> <!-- Test -->
	<test name="Edge Test">
		<parameter name="browserName" value="Edge"></parameter>
		<classes>
			<class name="tests.DropDownTests" />
			<class name="tests.FormAuthenticationTests" />
			<class name="tests.HoverTests" />
		</classes>
	</test> <!-- Test -->
</suite>